section {
    padding-block: 32px; /* APLICA PADDING VERTICALMENTE NO BLOCO FLEX INTEIRO */
    font: var(--text-md);
}

section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 32px;
}

#profile > div {
    max-width: 384px;
}

#profile > div > h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 280px;
}

#info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}